/* General styling */
body,
html {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: auto;
}
p,
h2 {
  margin: 0;
}
button {
  border: none;
  border-radius: 5px;
  padding: 1.5em 1em;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
  width: 150px;
  color: white;
  font-size: 17px;
}

/* Header styling */
header {
  display: flex;
  justify-content: center;
}
.header__logo {
  height: 90px;
  padding: 2em 0 1em 0;
}

/* Global search styling */
.search-global-form {
  display: flex;
  justify-content: space-between;
  background-color: #e6e3e3;
  padding: 1.3em;
  margin-bottom: 1.5em;
  border-radius: 5px;
}
input {
  border: none;
  background-color: unset;
  width: 70%;
  outline: none;
}
.search-global-form i {
  font-size: 25px;
}

/* Selected tags styling */
.selected-wrapper ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.selected-tag {
  padding: 0.5em;
  background-color: rgb(114, 192, 147);
  color: white;
  list-style-type: none;
  border-radius: 5px;
  margin-right: 0.5em;
}
.selected-tag i {
  margin-left: 10px;
}
.category-appliance {
  background-color: rgb(114, 192, 147);
}
.category-ustensils {
  background-color: rgb(231, 86, 86);
}
.category-ingredients {
  background-color: rgb(84, 137, 252);
}

/* Specific search styling */
.search-tag {
  display: flex;
  margin-bottom: 1.5em;
}
.tag-wrapper button:nth-child(n) {
  cursor: pointer;
}
button input:focus {
  color: white;
}
button input::placeholder {
  color: white;
  font-size: 16px;
}
.new-format-placeholder::placeholder {
  color: rgb(236, 236, 236);
  opacity: 0.7;
  font-size: 14px;
}
/* .clicked-button {
  width: 400px;
} */
.tag-wrapper div:nth-child(n) {
  position: absolute;
  z-index: 10;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tag-wrapper div:nth-child(n) ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: rgb(114, 192, 147); */
  min-width: 133px;
  max-height: 500px;
}
.tag-wrapper div:nth-child(n) ul li {
  list-style-type: none;
  padding: 0.3em;
  cursor: pointer;
  background-color: rgb(114, 192, 147);
  width: 170px;
}
/* .search-tag-list__ingredients {
  background-color: rgb(84, 137, 252);
} */
.search-tag-button__ingredients {
  background-color: rgb(84, 137, 252);
}
.search-tag-button__appliance {
  background-color: rgb(114, 192, 147);
}
.search-tag-button__ustensils {
  background-color: rgb(231, 86, 86);
}
i.fa-chevron-up {
  display: none;
}

/* Recipes styling */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipe {
  width: 400px;
  height: 400px;
  overflow: hidden;
  /* -webkit-line-clamp: 4; */
  /* text-overflow: ellipsis;
  white-space: nowrap; */
  margin-bottom: 3em;
  border-radius: 5px;
}
.image {
  height: 50%;
  background-color: rgb(196, 190, 190);
}
.text {
  height: 50%;
  padding: 1em;
  background-color: #e6e3e3;
}
.recipe-header {
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  min-width: 90px;
}
.text h2,
.time h2 {
  font-weight: lighter;
  font-size: 17px;
}
.time h2 {
  font-weight: bolder;
}
.time i {
  font-size: 1.1em;
  padding: 0.1em 0.4em 0 0;
}
.recipe-core {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 1em;
}
.recipe-core div:nth-child(1) {
  flex-basis: 47%;
}
.recipe-core p:nth-child(2) {
  flex-basis: 47%;
}
.ingredient__name {
  font-weight: bold;
}
